@tailwind base;
@tailwind components;
@tailwind utilities;

.input-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.task-calendar-container {
    width: 100%;
}

.i::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    opacity: 20%;
    background: white;
    /*   background: #3B82F6; */
    /* Centering */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.i:hover:before {
    animation: anim-in 0.7s forwards ease-out;
}

@keyframes anim-in {
    100% {
        opacity: 0%;
        border-radius: 0;
        width: 600px;
        height: 600px;
    }

    0% {
        width: 0px;
        height: 0px;
        border-radius: 100%;
        opacity: 20%;
    }
}

.task-item.high {
   color: #FF0800;
    /* Red for high priority */
}

.task-item.medium {
    color: #E6A817;
    /* Yellow for medium priority */
}

.task-item.low {
    color: #50C878;
    /* Green for low priority */
}